body {
    background: #363d40;
    color: #d0d0be;
}

.game {
    display: flex;
    gap: 12vmin;
    align-items: flex-start;
}

.game-left {
    display: flex;
    flex-direction: column;
    gap: 1vmin;
}

.game-mid {
    width: 15rem;
    gap: 0vmin;
}

.game-right {
    flex: 1;
}

.board {
    font-size: 0;
    width: 70vmin;
    height: 70vmin;
}

.squares-and-pieces {
    position: relative;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    z-index: 1;
}

.board-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    position: relative;
}

    .board-button img {
        width: 100%;
        height: 100%;
        display: block;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
    }

    .board-button:hover {
        filter: brightness(0.5);
    }

    .board-button:disabled {
        filter: brightness(0.9);
    }

.piece {
    position: absolute;
    top: 0;
    left: 0;
}

    .piece:not([src]), .piece[src=""] {
        display: none;
    }

.health-bar {
    position: absolute;
    bottom: 0.134vmin;
    right: 0.134vmin;
    display: flex;
    flex-direction: column;
    gap: 0;
}

    .health-bar img {
        width: 1.23vmin;
        height: 1.23vmin;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
    }

    .health-bar:empty {
        display: none;
    }

.canvas {
    position: relative;
    top: -70vmin;
    left: 0px;
    width: 70vmin;
    height: 70vmin;
    pointer-events: none;
    z-index: 2;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}


.netcode-ui {
    width: fit-content;
    outline: solid;
    outline-width: 3px;
    padding: 4px 4px 4px 4px;
}

    .netcode-ui input {
        width: 4rem;
    }

.action-menu {
    position: absolute;
    z-index: 8;
    width: fit-content;
    height: fit-content;
    display: none;
}

    .action-menu button {
        width: 10rem;
    }

.game-over-window {
    width: fit-content;
    outline: solid;
    outline-width: 3px;
    padding: 4px 4px 4px 4px;
}