body {
    background: #363d40;
    color: #d0d0be;
}

.game {
    display: flex;
    gap: 12vmin;
    align-items: flex-start;
}

.game-left {
    display: flex;
    flex-direction: column;
    gap: 1vmin;
}

.game-mid {
    display: flex;
    flex-direction: column;
    gap: 0vmin;
}

.game-right {
    flex: 1;
}

.board {
    font-size: 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 70vmin;
    height: 70vmin;
}

.board-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    position: relative;
}

    .board-button img {
        width: 100%;
        height: 100%;
        display: block;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
    }

    .board-button:hover {
        filter: brightness(0.5);
    }

.piece {
    position: absolute;
    top: 0;
    left: 0;
}

    .piece:not([src]), .piece[src=""] {
        display: none;
    }

.health-bar {
    position: absolute;
    bottom: 0.134vmin;
    right: 0.134vmin;
    display: flex;
    flex-direction: column;
    gap: 0;
}

    .health-bar img {
        width: 1.23vmin;
        height: 1.23vmin;
        image-rendering: crisp-edges;
        image-rendering: pixelated;
    }

    .health-bar:empty {
        display: none;
    }

.netcode-ui {
    width: 16rem;
}

    .netcode-ui input {
        width: 4rem;
    }
